{% extends 'base.html' %}

{% block content %}

<!--Form-->
<section class="flex justify-center items-center mb-32">
    <!-- Container -->
    <div class="container  ">
        <div class="flex justify-center px-6 my-12">
            <!-- Row -->
            <div class="w-full xl:w-5/6 lg:w-11/12 flex">
                <!-- Col -->
                <div
                    class="mt-16 w-1/4 h-2/3  hidden lg:block lg:w-1/2 p-4 bg-cover rounded-l-lg"
                    style="background-image: url('../../static/img/home/register.svg')"
                ></div>
                <!-- Col -->
                <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Create an Account!</h3>
                    
                    <form method="" action="" class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
                        <div class="mb-4 lg:flex lg:justify-between">
                            <div class="mb-4 lg:mr-2 lg:mb-0">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="first_name">
                                    First Name
                                </label>
                                {{from.first_name}}
                            </div>
                            <div class="lg:ml-2">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
                                    Last Name
                                </label>
                                <input
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:border-indigo-500 focus:outline-none focus:shadow-outline"
                                    id="lastName"
                                    type="text"
                                    placeholder="Last Name"
                                />
                            </div>

                        </div>
                        <div class="lg:flex lg:justify-between">
                            <div class="mb-4 lg:mr-2 lg:mb-0">
                           
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                                    Username
                                </label>
                                <input
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:border-indigo-500 focus:outline-none focus:shadow-outline"
                                    id="username"
                                    type="text"
                                    placeholder="Username"
                                />
                            </div>
                            <div class="mb-4">
                               
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                    Email Address
                                </label>
                                <input
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:border-indigo-500 focus:outline-none focus:shadow-outline"
                                    id="email"
                                    type="email"
                                    placeholder="user@gmail.com"
                                />
                            </div>
                        </div>
                        
                        <div class="mb-4">
                           
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="institution">
                                Institution
                            </label>
                            <select
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight focus:border-indigo-500 focus:outline-none bg-white text-black border rounded shadow focus:shadow-outline"
                                id="institution" >
                                <option value="">--------------</option>
                                <option value="bu">Babcock University</option>
                                <option value="unilag">University of Lagos</option>
                                <option value="lasu">Lagos State University</option>
                                <option value="cu">Covenant University</option>
                            </select>
                        </div>
                        <div class="lg:flex lg:justify-between">
                            <div class="mb-4 lg:mr-2 lg:mb-4">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                    Password
                                </label>
                                <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:border-indigo-500 focus:outline-none focus:shadow-outline"
                                    id="password"
                                    type="password"
                                    placeholder="******************"
                                />
                                
                            </div>
                            <div class="lg:ml-2">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="c_password">
                                    Confirm Password
                                </label>
                                <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:border-indigo-500 focus:outline-none focus:shadow-outline"
                                    id="c_password"
                                    type="password"
                                    placeholder="******************"
                                />
                            </div>
                        </div>
                            
                        
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="submit"
                            >
                                Register Account
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                        <div class="text-center">
                            <a
                                class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                href="#"
                            >
                                Forgot Password?
                            </a>
                        </div>
                        <div class="text-center">
                            <a
                                class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                href="login.html"
                            >
                                Already have an account? Login!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}