{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search Bar -->
<section class="hidden md:block px-3 md:mx-auto max-w-7xl mb-12">
    <div class="mt-4 pt-2 relative text-gray-600 ">
        <form action="{% url 'display-projects' %}" class="lg:flex">
            <select name="filter" id="filter"
                class="p-1 mr-2 h-10 border-2 rounded-lg bg-white text-gray-500 font-bold rounded-lg outline-none border-gray-300 focus:border-indigo-700">
                <option class="hover:bg-gray-300" value="title">Title</option>
                <option value="department">Department</option>
                <option value="year">Year</option>
                <option value="supervisor">Supervisor</option>
            </select>

            <div>
                <input
                    class="mb-2 border-2 border-gray-300 bg-white h-10 mr-4 px-5 pr-4 rounded-lg text-sm focus:border-indigo-700 hover:bg-indigo-100 outline-none"
                    type="search" name="search" placeholder="Search" size="33">
                <button type="submit" class="absolute top-0 mt-5 mr-4 outline-none hover:bg-indigo-300 rounded-full">
                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                        xml:space="preserve" width="512px" height="512px">
                        <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button>
            </div>

        </form>

    </div>
</section>
<!--End Search Bar -->

<!-- Section 2 -->
<section class="mx-4">

    <!-- Search Bar -->
    <section class="md:hidden max-w-7xl">
        <div class="mt-4 pt-2 relative text-gray-600 ">
            <form action="{% url 'display-projects' %}" class="lg:flex">
                <select name="filter" id="filter"
                    class="p-1 mr-2 mb-2 w-full h-10 border-2 rounded-lg bg-white text-gray-500 font-bold rounded-lg outline-none border-gray-300 focus:border-indigo-700">
                    <option class="hover:bg-gray-300" value="title">Title</option>
                    <option value="department">Department</option>
                    <option value="year">Year</option>
                    <option value="supervisor">Supervisor</option>
                </select>

                <div>
                    <input
                        class="mb-2 border-2 border-gray-300 bg-white w-full h-10 mr-4 px-5 pr-4 rounded-lg text-sm focus:border-indigo-700 hover:bg-indigo-100 outline-none"
                        type="search" name="search" placeholder="Search" size="33">
                    <button type="submit"
                        class="absolute top-12 mt-5 right-2 outline-none hover:bg-indigo-300 rounded-full">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                            xml:space="preserve" width="512px" height="512px">
                            <path
                                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </button>
                </div>



            </form>

        </div>
    </section>
    <!--End Search Bar -->
    <div class="w-full py-6 mx-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-7xl">

        <div class="flex flex-col items-center sm:px-5 md:flex-row">
            <div class="w-full md:w-1/2">
                <a href="#_" class="block">
                    <img class="object-cover w-full h-full rounded-lg max-h-64 sm:max-h-96"
                        src="{{project.cover_page.url}}">
                </a>
            </div>
            <!--Latest Project in the repository-->
            <div class="flex flex-col items-start justify-center w-full h-full py-6 mb-6 md:mb-0 md:w-1/2">
                <div
                    class="flex flex-col items-start justify-center h-full space-y-3 transform md:pl-10 lg:pl-16 md:space-y-5">
                    <div
                        class="bg-pink-500 flex items-center pl-2 pr-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block">
                        <svg class="w-3.5 h-3.5 mr-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <span>Details</span>
                    </div>
                    <!--Project Title-->
                    <h1 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">
                        {{project.title}}
                    </h1>
                    <p class="pt-2 text-sm font-medium">by
                        <a href="{% url 'account-profile' id=project.scholar.id %}"
                            class="mr-1 underline">{{project.scholar}}</a> ·
                        <!--Authors name-->
                        <span class="mx-1">{{project.date_uploaded}}</span> ·
                        <!--Date uploaded-->
                        <span class="mx-1 text-gray-600">
                            {% for tag in project.tags.all %}
                            {{tag.name}}
                            {% endfor %}
                        </span>
                        <!--Project Tags-->

                    </p>
                    <div class="flex space-x-4">
                        <div
                            class=" flex items-center pl-2 pr-3 py-1.5 leading-none rounded-full text-xs font-bold uppercase inline-block">
                            <img src="{% static 'img/projects/eye icon.svg' %}" class="w-5 h-5 mr-2">
                            <!--Number of views-->
                            <span>{{project.views}} Views</span>
                        </div>
                        <div
                            class="bg-green-500 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-bold uppercase text-white inline-block">
                            <!--Plagiarism Checker-->
                            <span>{{project.plagiarism_score}}%</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--End of Project Title-->

        <!--Begin project description and details-->

        <div class="lg:ml-4 lg:space-x-12 font-sans text-black-300">

            <div class="w-full lg:mb-4 leading-relaxed">
                <p class="font-bold text-2xl">Project Description</p>
                <p class="text-justify">{{project.description}}</p>


            </div>

        </div>
        <div class="lg:ml-4 lg:flex justify-between lg:space-x-12">
            <div class="w-full">
                <p class="font-bold text-2xl mb-2">Project Details</p>
                <div class="text-black p-2 font-bold">
                    <p>Project Title</p>
                </div>
                <hr class="w-full">
                <div class=" p-2">
                    <p>{{project.title}}</p>
                </div>
                <hr class="w-full">
                <div class="text-black p-2 font-bold">
                    <p>Department</p>
                </div>
                <hr class="w-full">
                <div class="p-2">
                    <p>{{project.department.name}}</p>
                </div>
                <hr class="w-full">
                <div class="text-black p-2 font-bold">
                    <p>Author</p>
                </div>
                <hr>
                <div class="p-2">
                    <p>{{project.scholar.get_full_name}}</p>
                    <!--Name of Scholar that uploaded the project-->
                </div>
                <hr>
                <div class="text-black p-2 font-bold">
                    <p>Supervisor</p>
                </div>
                <hr>
                <div class="p-2">
                    <p>{{project.supervisor}}</p>
                </div>
                <hr>
            </div>

            <div class="mt-2 lg:mt-0 w-full">
                <p class="hidden lg:block font-bold text-xl mb-2">&nbsp;</p>
                <div class="text-black p-2 font-bold">
                    <p>Year Published</p>
                </div>
                <hr>
                <div class="p-2">
                    <p>{{project.year_published}}</p>
                    <!--Year Published-->

                </div>
                <hr>
                <div class="text-black p-2 font-bold">
                    <p>Link to Resources</p>
                    <!--URL-->
                </div>
                <hr>
                <div class="p-2">
                    <p>{{project.url}}</p>
                </div>
                <hr>
                <div class="text-black p-2 font-bold">
                    <p>Tags</p>
                </div>
                <hr>
                <div class="p-2">
                    <p>
                        {% for tag in project.tags.all %}
                        {{tag.name}}
                        {% endfor %}
                    </p>
                    <!--Separate tags with comma-->
                </div>
                <hr>
                <div class="text-black p-2 font-bold">
                    <p>Document</p>
                </div>
                <hr>
                <div class="p-2 flex justify-between">
                    <a href="{{project.document.url}}">
                        <button type="submit"
                            class="bg-indigo-500 ffocus:outline-none hover:bg-indigo-600 text-sm text-white font-bold py-1 px-4 rounded inline-flex items-center">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20">
                                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                            </svg>
                            <span>Download</span>
                        </button>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    </div>
</section>

{% endblock content %}

</body>

</html>