{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Form-->
<section class="flex justify-center mb-32">

    <div class="container mx-auto ">
        <div class="flex justify-center px-6 lg:my-12">

            <div class="xl:w-3/4 flex">

                <div class="lg:w-full w-3/4">
                    <h3 class="pt-4 text-xl lg:text-2xl text-center w-full tracking-tight ">Update Your Profile, {{user.username}}!</h3>



                    <div class="container mx-auto flex justify-between lg:w-4/6 space-x-4 ">

                        <div>
                            {% if user.profile_picture %}
                            <img class="hidden md:inline w-24 h-24 mt-6 rounded-full border" src="{{user.profile_picture.url}}">
                            {% else %}
                            <img class="hidden md:inline w-24 h-24 mt-6 rounded-full border" src="{% static 'img/avatar.png' %}">
                            {% endif %}
                        </div>

                        <div>
                            <div class="lg:ml-4">

                                <p class="mt-8 text-lg lg:text-xl">User Details</p>
                                <hr class="mb-6 border-t" />

                                <!-- First and Last Names -->
                                <form method="post" action="{% url 'edit-profile' %}" class="mt-8">
                                    {% csrf_token %}
                                    {{password.errors}}
                                    <div class="mb-4 lg:flex justify-between lg:space-x-5">
                                        <div class="mb-4 lg:w-3/4">
                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="first_name">
                                                First Name
                                            </label>
                                            {{form.first_name}}
                                        </div>
                                        <div class="mb-4 lg:w-3/4">
                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="last_name">
                                                Last Name
                                            </label>
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <!--End First and Last Names -->

                                    <!-- Email and Institution -->
                                    <div class="mb-4 lg:flex justify-between lg:space-x-5">
                                        <div class="mb-2 lg:w-3/4">

                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                                Email
                                            </label>
                                            {{form.email}}
                                        </div>

                                        <div class="w-80 mb-2 lg:w-3/4">
                                            <!--Change to select field-->
                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="institution">
                                                Institution
                                            </label>
                                            {{form.institution}}
                                        </div>


                                    </div>

                                    <div class="mb-2 text-right">
                                        <button
                                            class="lg:w-1/4 px-4 py-2 font-bold text-white bg-indigo-500 rounded-full focus:outline-none focus:shadow-outline"
                                            name="user_detail" type="submit">
                                            Save Details
                                        </button>
                                    </div>

                                </form>
                                <!--End Email and Institution -->

                                <form method="POST" action="{% url 'edit-profile' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!--Update Profile Picture-->
                                    <div>
                                        <div class="">
                                            <p class="mt-4 text-lg lg:text-xl">Update Profile Picture</p>
                                            <hr class="mb-6 border-t" />
                                            <div>
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="profile_picture">Profile Picture
                                                    <span class="help-block text-sm text-red-500">&nbsp; &nbsp; *JPG,
                                                        PNG </span>
                                                </label>
                                                {{profile.profile_picture}}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mb-2 text-right">
                                        <button
                                            class="lg:w-1/4 px-4 mt-2 py-2 font-bold text-white bg-indigo-500 rounded-full focus:outline-none focus:shadow-outline"
                                            name="profile_pic_btn" type="submit">
                                            Save Picture
                                        </button>
                                    </div>

                                </form>

                                <!--End Update Profile Picture-->

                                <form method="post" action="{% url 'edit-profile' %}">
                                    {% csrf_token %}
                                    <!--Change Password-->
                                    <div>
                                        <p class="mt-8 text-lg lg:text-xl">Change Password</p>
                                        <hr class="mb-6 border-t" />
                                        <div class="mb-4 lg:flex lg:justify-between">
                                            <div class="mb-4 lg:mr-2 lg:mb-4">
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="old_password">
                                                    Current Password
                                                </label>
                                                {{password.old_password}}
                                            </div>

                                            <div class="lg:ml-2">
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="password">
                                                    New Password
                                                </label>
                                                {{password.password}}
                                            </div>
                                            

                                            <div class="lg:ml-2">
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="c_password">
                                                    Confirm Password
                                                </label>
                                                {{password.c_password}}
                                            </div>

                                        </div>

                                    </div>
                                    <!--End Change Password-->

                                    <div class="mb-6 text-right">
                                        <button
                                            class="lg:w-1/4 px-4 py-2 font-bold text-white bg-indigo-500 rounded-full focus:outline-none focus:shadow-outline"
                                            name="change_password" type="submit">
                                            Save Password
                                        </button>
                                    </div>
                                    <hr class="bottom-0 border-t" />
                                </form>




                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock content %}