{% extends 'base.html' %}

{% block content %}
<!--Form-->
<section class="flex justify-center mb-32">

    <div class="container  ">
        <div class="flex justify-center px-6 my-12">

            <div class="w-3/4 xl:w-3/4 flex">

                <div class="lg:w-full sm:w-3/4">
                    <h3 class="pt-4 text-2xl text-center">Update Your Profile, {{user.username}}!</h3>

                    <form method="" action="" class="mt-8">

                        <div class="mx-auto flex justify-between lg:w-4/6 space-x-4 ">

                            <div>
                                <img class="w-24 h-24 mt-6 rounded-full border" src="../static/img/home/avatar.png" />
                            </div>

                            <div>
                                <div class="lg:ml-4">

                                    <p class="mt-8 text-xl">User Details</p>
                                    <hr class="mb-6 border-t" />

                                    <!-- First and Last Names -->
                                    <div class="mb-4 lg:flex justify-between lg:space-x-5">
                                        <div class="mb-4 lg:w-3/4">
                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="first_name">
                                                First Name
                                            </label>
                                            {{form.first_name}}
                                        </div>
                                        <div class="mb-4 lg:w-3/4">
                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="last_name">
                                                Last Name
                                            </label>
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <!--End First and Last Names -->

                                    <!-- Email and Institution -->
                                    <div class="mb-4 lg:flex justify-between lg:space-x-5">
                                        <div class="mb-4 lg:w-3/4">

                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                                Email
                                            </label>
                                            {{form.email}}
                                        </div>

                                        <div class="w-80 mb-4 lg:w-3/4">
                                            <!--Change to select field-->
                                            <label class="block mb-2 text-sm font-bold text-gray-700" for="institution">
                                                Institution
                                            </label>
                                            {{form.institution}}
                                        </div>
                                        <!--End Email and Institution -->

                                    </div>

                                    <!--Update Profile Picture-->
                                    <div>
                                        <div class="">
                                            <p class="mt-4 text-xl">Update Profileeee Picture</p>
                                            <hr class="mb-6 border-t" />
                                            <div>
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="profile_picture">Profile Picture
                                                    <span class="help-block text-sm text-red-500">&nbsp; &nbsp; *JPG,
                                                        PNG </span>
                                                </label>
                                                <input
                                                    class="block w-full text-sm text-gray-900 bg-indigo-100 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none"
                                                    id="doc_img_upload" type="file" accept=".png, .jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Update Profile Picture-->

                                    <!--Change Password-->
                                    <div>
                                        <p class="mt-8 text-xl">Change Password</p>
                                        <hr class="mb-6 border-t" />
                                        <div class="mb-4 lg:flex lg:justify-between">
                                            <div class="mb-4 lg:mr-2 lg:mb-4">
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="password">
                                                    Current Password
                                                </label>
                                                <input
                                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                                    id="password" type="password" placeholder="******************" />
                                            </div>

                                            <div class="lg:ml-2">
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="n_password">
                                                    New Password
                                                </label>
                                                <input
                                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                                    id="n_password" type="password" placeholder="******************" />
                                            </div>

                                            <div class="lg:ml-2">
                                                <label class="block mb-2 text-sm font-bold text-gray-700"
                                                    for="c_password">
                                                    Confirm Password
                                                </label>
                                                <input
                                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                                    id="c_password" type="password" placeholder="******************" />
                                            </div>

                                        </div>

                                    </div>
                                    <!--End Change Password-->

                                    <div class="mb-6 text-center">
                                        <button
                                            class="w-full px-4 py-2 font-bold text-white bg-indigo-500 rounded-full focus:outline-none focus:shadow-outline"
                                            type="submit">
                                            Save Changes
                                        </button>
                                    </div>
                                    <hr class="bottom-0 border-t" />
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}